body {
  text-align: justify;
  width: 1800px;
  margin: auto;
  font-family: "rancho";
  font-size: 100%;
  line-height: 100%;
  word-spacing: 100%;
  background-image: url(Achtergrond.jpg);
  background-attachment: fixed;
  background-size: cover;
  clear: both;
}

header {
  font-family: "permanent marker";
  text-align: center;
}

nav {
  word-spacing: 2em;
  border: 5px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  padding: 10px;
  width: 1520px;
  margin: 0px auto 5px auto;
  font-family: Rancho;
  font-size: 1.2em;
  text-align: center;
}

a {
  border: 1px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  padding: 3px;
  word-spacing: normal;
  color: black;
  text-decoration: none;
}

a:visited {
  border: 1px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  padding: 3px;
  word-spacing: normal;
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 20em;
  line-height: 1.5em;
  clear: both;
  width: 100%;
}

.h1 {
  text-decoration: none;
  color: black;
  border: 0px;
}

.Sfeerbeeld2 {
  height: auto;
  width: 500px;
  border: 5px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-bottom: 100px;
  margin-right: 5px;
}

.Sfeerbeeld3 {
  height: auto;
  width: 500px;
  border: 5px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-bottom: 100px;
  margin-right: 5px;
}

.Sfeerbeeld5 {
  height: auto;
  width: 500px;
  border: 5px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-bottom: 100px;
}

main {
  font-size: 1.2em;
  line-height: 1.2em;
  clear: both;
  width: 100%;
}

.Sfeerbeeld1 {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 5%;
  margin-bottom: 150px;
}

.Sfeerbeeld4 {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 5%;
  margin-bottom: 150px;
}

.Sfeerbeeld6 {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 5%;
  clear: both;
}

.Sfeerbeeld7 {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-bottom: 100px;
  margin-right: 5%;
  margin-top: 0px;
  clear: both;
}

.Sfeerbeeld8 {
  height:auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-bottom: 100px;
  margin-right: 5%;
  }

.Sfeerbeeld10 {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-right: 50%;
}

.Overhairequipe {
  margin-left: 50px;
  width: 1190px;
  text-align: justify;
  font-size: 1.1em;
  float: left;
  margin-right: 50px;
}

.Fotoslinks {
  float: left;
  width: 255px;
}

.Fotosrechts {
  float: right;
  width: 255px;
}

h2 {
  font-size: 2em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2em;
  padding-top: 10px;
}

h4 {
  font-size: 1.3em;
  line-height: 1.2em;
  padding-top: 10px;
}

.Salons {
  margin-left: 50px;
  width: 1190px;
  text-align: justify;
  font-size: 1.1em;
  float: left;
  margin-right: 50px;
}

.Kapsalonslinks {
   float: left;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 100px;
 }

.KapsalonAartselaar {
  width: 400px;
}

.KapsalonAntwerpen {
  width: 400px;
}

.KapsalonBorsbeek {
  width: 400px;
}

.KapsalonHove {
  width: 400px;
  clear: both;
}

.Kapsalonsrechts {
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 100px;
}

.KapsalonLier {
  width: 400px;
}

.KapsalonMortsel {
  width: 400px;
}

.KapsalonWilrijk {
  width: 400px;
  clear: both;
}

.KapsalonAartselaarfoto {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 5%;
  margin-bottom: 150px;
}

.KapsalonAntwerpenfoto {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 5%;
  margin-bottom: 150px;
}

.KapsalonBorsbeekfoto {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 5%;
}

.KapsalonHovefoto {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-bottom: 150px;
  margin-right: 5%;
  margin-top: 0px;
  clear: both;
}

.KapsalonLierfoto {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-bottom: 150px;
  margin-right: 5%;
  margin-top: 0px;
  clear: both;
}

.KapsalonMortselfoto {
  height: auto;
  width: 250px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-right: 5%;
  margin-top: 0px;
  clear: both;
}

.Openingsuren {
  text-align: center;
}

.Prijslijst {
  margin-left: 50px;
  width: 1190px;
  text-align: justify;
  font-size: 1.1em;
  float: left;
  margin-right: 50px;
}

.Volwassenen {
  padding-top: 20px;
}

.Dames {
  float: left;
  clear: left;
}

.Heren {
  float: right;
  clear: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 400px;
}

.Studenten {
  clear: both;
  padding-top: 20px;
}

.Meisjes {
  float: left;
  clear: left;
}

.Jongens {
  float: right;
  clear: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 400px;
}

.Kinderen {
  clear: both;
  padding-top: 20px;
}

.Balayage {
  height: auto;
  width: 310px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 0px;
  margin-bottom: 150px;
  float: left;
  clear: both;
}

.Extensions {
  height: auto;
  width: 310px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 0px;
  margin-bottom: 150px;
  float: left;
  clear: both;
}

.Kerastaseverzorging {
  height: auto;
  width: 310px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 0px;
  margin-bottom: 150px;
  float: left;
  clear: both;
}

.Permanent {
  height: auto;
  width: 310px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 0px;
  margin-bottom: 150px;
  float: left;
  clear: both;
}

.Snitkapsels {
  height: auto;
  width: 310px;
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  margin-left: 0px;
  float: left;
  clear: both;
}

.Services {
  padding-top: 40px;
  margin-left: 340px;
  width: 1120px;
  text-align: justify;
  font-size: 1.1em;
}

.Contact {
  text-align: center;
  text-decoration: none;
  color: black;
  border: 0px none black;
}

.Icoontjefb {
  text-decoration: none;
  color: black;
  border: none;
}

.Icoontjepinterest {
  text-decoration: none;
  color: black;
  border: none;
}

footer {
  text-align: center;
  margin: 50px auto 50px auto;
  width: 100%;
  clear: both;
}

.Sfeerbeeld9 {
  border: 5px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  text-align: center;
  margin-top: 50px;
}

.KapsalonWilrijkfoto {
  border: 2px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  text-align: center;
  clear: both;
  height: 15%;
  width: 15%;
  margin-top: 50px;
  }

.Sfeerbeeld11 {
  border: 5px;
  border-radius: 5px;
  border-style: groove;
  border-color: magenta;
  text-align: center;
  margin-top: 50px;
}
